body {
    margin: 0px;
}

.main {
    background-color: hsl(0, 0%, 75%);
    text-align: center;
}
#title {
    padding-left: 20px;
    text-align: center;
    display: inline-block;
}
#assunto {
    text-align: center;
    font-size: 20px;
}
.lista{
    font-size: 20px;
}